<a href="https://colab.research.google.com/github/lismarcarolinacamacho/R-Y-SQL/blob/main/pruebas_sql_%2B_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# CREATING THE TABLE
import sqlite3

def createDB():
  conn = sqlite3.connect('test.db')

  conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')
  conn.commit()

  conn.close()

print("Opened database successfully");
print("Table created successfully");

Opened database successfully
Table created successfully

In [16]:
# INSERTING VALUES
conn = sqlite3.connect('test.db')
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 53);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2019, 52);")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2018, 49);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2018, 45);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2018, 50 );")

conn.commit()

In [17]:
# Average goal by team

conn = sqlite3.connect('test.db')

cursor = conn.execute(''' SELECT team,
                            AVG(total_goals) AS avg_goals
                          FROM team_data
                          GROUP BY team;''')

for row in cursor:
  print(row)
conn.close()

('Arsenal', 51.0)
('Barcelona', 46.0)
('Real Madrid', 51.0)

In [ ]:
# Now, the correct query, using the appropriate sub-query

conn = sqlite3.connect('test.db')

cursor = conn.execute(''' SELECT team_name, avg_goals
                          FROM (

                          -- Here we make our sub-query:
                            SELECT team AS team_name,
                            AVG(total_goals) AS avg_goals
                            FROM team_data
                            GROUP BY team) tp
                          -- End of the sub-query
                          
                          WHERE avg_goals > 50;''')

for row in cursor:
  print(row)
conn.close()

('Arsenal', 51.0)
('Real Madrid', 51.0)

In [42]:
conn = sqlite3.connect('employees.db')
print("Opened database successfully");

conn.execute(

'''
DROP TABLE IF EXISTS departments'''
)


conn.commit()

print("Table eliminated successfully");

conn.close()

Opened database successfully
Table eliminated successfully

In [43]:
conn = sqlite3.connect('employees.db')
print("Opened database successfully");

conn.execute(

'''
CREATE TABLE departments (
  dept_no char(4) NOT NULL,
  dept_name varchar(40) NOT NULL)'''
)


conn.commit()

print("Table created successfully");

conn.close()

Opened database successfully
Table created successfully